/* ---------heading index.html------------ */

#heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 35vh;
    height: 100%;
    margin-bottom: 0em;


    @media #{$tall} {
        margin: 0vw 7vw 0vw 7vw;
    }

    @media #{$middle} {
        margin: 0vw 7vw 0vw 7vw;
    }

    @media #{$small} {
        margin: 0vw 4vw 0vw 4vw;
    }
}

.heading-block {
    border-left: 1.7rem solid rgba($green-blue, 0.8);
    padding: 0.6rem 0.6rem 0.6rem 1.7rem;
    margin-left: 4rem;

    @media #{$tall} {
        border-left: 1.5rem solid darken(rgba($green-blue, 0.8), 10%);
        padding: 0.5rem 0.6rem 0.5rem 1.2rem;
        margin-left: 1rem;
        // margin-left: 0rem;
    }

    @media #{$middle} {
        border-left: 1.2rem solid darken(rgba($green-blue, 0.8), 10%);
        padding: 0.2rem 0.5rem 0.2rem 1rem;
        margin-left: 2rem;
    }

    @media #{$small} {
        border-left: 0.7rem solid darken(rgba($green-blue, 0.8), 10%);
        padding: 0.1rem 0.1rem 0.1rem 0.7rem;
        margin-left: 0;
    }
}

#heading h1 {
    font-family: 'Oswald', sans-serif;
    color: $green-blue;
    // text-shadow: 0.5px 0px 1px lighten($green-blue, 1.5%);
    font-size: 2rem;
    letter-spacing: 0.8rem;
    padding-bottom: 0.4rem;
    font-weight: 700;

    @media #{$tall} {
        font-size: 1.6rem;
        color: darken($green-blue, 13%);
        // text-shadow: 0.5px 0px 1px darken($green-blue, 10%);
    }

    @media #{$middle} {
        font-size: 4vw;
        color: rgba(56, 122, 128, 0.9);
    }

    @media #{$small} {
        color: rgba(56, 122, 128, 1);
        font-size: 5vw;
        margin-bottom: 0.2rem;
    }
}

#heading h3 {
    text-transform: none;
    font-family: 'Oswald', sans-serif;
    color: rgba(lighten($darkbluegrey, 10%), 0.7);
    // color: lighten($grey, 15%);
    // text-shadow: 0.5px 0px 0.5px lighten($grey, 25%);
    font-size: 2.8rem;
    letter-spacing: 0.5rem;
    font-weight: 600;
    line-height: 3rem;

    @media #{$tall} {
        font-size: 2.4rem;
        color: rgba(lighten($darkbluegrey, 5%), 0.8);
    }

    @media #{$middle} {
        font-size: 6.5vw;
        color: rgba(lighten($darkbluegrey, 8%), 0.7);
    }

    @media #{$small} {
        font-size: 6.6vw;
        line-height: 1.8rem;
    }
}