 .image-big {
     margin-bottom: 2vw;
 }

 .ig-row {
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-column-gap: 2vw;


     @media #{$small} {
         grid-template-columns: 1fr
     }

     .ig-image {
         margin-bottom: 1.7vw;
         transition: 0.1s ease-in;
         cursor: pointer;

         &:hover {
             opacity: 0.8;
         }
     }
 }